// Mixin for assignment of function or var
mixin assignment(definition)
    h2 #{definition.function}
    p
        span.line-number #{definition.line}

        span.description #{definition.description}

doctype
html
    body
        h1 #{fileName}

        // Imports
        section.imports
            h1 Imports

            ul
                each importStatement in tree.imports
                    li #{importStatement}

        // Variables
        section.variables
            h1 Variables

            each variable in tree.variables
                mixin assignment(functionDefinition)

        // Functions
        section.functions
            h1 Functions

            each functionDefinition in tree.functions
                mixin assignment(functionDefinition)
